{% macro contentGrid(items, moment) %}
  {% if items | length > 0 %}
    <div class="c-content-grid">
      {% for item in items %}
        <article onclick="location=this.querySelector('a').href">
          {% if moment %}
            <time class="copy--mini">{{ moment(item.metadata.date).utcOffset(8).format('ddd, DD MMM YYYY') }}</time>
          {% endif %}
          <h3 class="measure-wide fz--delta mb4">{{ item.title }}</h3>
          <p class="measure-wide">
            {{ item.html | striptags | truncate('150') }}
            <a href="{{ item.url }}" class="nowrap">Read more →</a>
          </p>
        </article>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
