{% from "../_macros.njk" import sponsorsGallery %}

<footer class="c-footer-global">
  <nav class="c-nav-pages">
    <ul class="c-nav-list c-nav-list--footer-global copy--midi">
      <li>
        <a class="c-nav-list__anchor" href="/faq">FAQ</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="/accessibility">Accessibility</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['code-of-conduct.json'].url }}">Code of Conduct</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['scholarships.json'].url }}">Scholarships</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['sponsors.json'].url }}">Sponsors</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['imprint.json'].url }}">Impressum</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['privacy-policy.json'].url }}">Privacy Policy</a>
      </li>
      <li>
        <a class="c-nav-list__anchor" href="mailto:{{ email }}">
          {{ email }}
        </a>
      </li>
    </ul>
  </nav>
  {% block sponsors %}
    <div class="c-sponsors--footer">
      <div class="l-container l-container--xl">
        <h2 class="tc mt5">Sponsors</h2>
        {% set sponsorsPages = contents.sponsors._.pages
          | filterObjects('metadata.sponsor.published', true)
          | filterObjects('metadata.sponsor.footerLogo', true)
          | sortObjects('metadata.sponsor.order', '', 'number')
          | reverse
        %}
        {{ sponsorsGallery(contents.images.cms, sponsorsPages)}}
      </div>
    </div>
  {% endblock %}
  <nav class="c-nav-social">
    <ul class="c-nav-list c-nav-list--footer-global copy--midi">
      <li>
        <a class="c-nav-list__anchor" href="{{ contents['newsletter.json'].url }}">Newsletter</a>
      </li>
      <li>
        <a class="c-nav-list__anchor c-nav-list__anchor--social" target="_blank" href="https://github.com/cssconf/2019.cssconf.eu">
          GitHub
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor c-nav-list__anchor--social" target="_blank" href="https://www.facebook.com/cssconfeu/">
          Facebook
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor c-nav-list__anchor--social" target="_blank" href="https://twitter.com/cssconfeu">
          Twitter
        </a>
      </li>
      <li>
        <a class="c-nav-list__anchor c-nav-list__anchor--social" target="_blank" href="https://www.youtube.com/playlist?list=PL37ZVnwpeshF0XmpjKBJ3-0kvr3b5ZpJR">
          YouTube
        </a>
      </li>
    </ul>
  </nav>
</footer>
