{% from "../_macros.njk" import svgIconNew, navItem %}

{% set speakers = contents.speakers._.pages
  | filterObjects('metadata.speaker.reviewed', true)
  | filterObjects('metadata.speaker.published', true) %}

<header class="c-header">
  <div class="c-header__wrapper">
    <a href="{{ env.config.baseUrl }}"
       class="c-header__link"
       title="Home">
      <div class="c-header__logo">
        {{ svgIconNew(contents, 'logo-icon', width = 97, height = 90) }}
      </div>
      <div class="c-header__text--name">
        {{ svgIconNew(contents, 'logo-text', width = 170, height = 22, title = 'CSSconf.EU') }}
      </div>
      <div class="c-header__text--date show-at-m ml3 nowrap">{{ conferenceFullDate }}</div>
    </a>

    <div class="c-header__buttons">
      <a class="c-btn c-btn--header show-at-xl" href="{{ contents['speakers.json'].url }}">Speakers</a>
      <a class="c-btn c-btn--header show-at-l" href="{{ contents['schedule.json'].url }}">Schedule</a>
      <a class="c-btn c-btn--header show-at-m" href="{{ contents['info.json'].url }}">Info</a>
      <a class="c-btn c-btn--header show-at-xxl" href="{{ contents['team.json'].url }}">Team</a>
      <a class="c-btn c-btn--header show-at-xxl" href="{{ contents['sponsors.json'].url }}">Sponsors</a>
      <button class="c-nav-main-toggle js-nav-main-toggle"
              onclick="document.body.classList.toggle('is-nav-opened')">Menu</button>
    </div>
    <nav class="c-nav-main" id="nav-main">
      <div class="c-nav-main__content">
        <ul class="c-nav-main__list">
          {{ navItem('Speakers', contents['speakers.json'].url) }}
          {{ navItem('Artists', contents['artists.json'].url) }}
          {{ navItem('Schedule', contents['schedule.json'].url) }}
          {{ navItem('News', contents['news.json'].url) }}
          {{ navItem('Info', contents['info.json'].url) }}
          {{ navItem('Team', contents['team.json'].url) }}
          {{ navItem('Sponsors', contents['sponsors.json'].url) }}
        </ul>

        <div class="copy--mini">
          <ul class="c-nav-sublist">
            <li>
              <a class="c-nav-sublist__link" href="{{ contents['code-of-conduct.json'].url }}">Code of Conduct</a>
            </li>
            <li>
              <a class="c-nav-sublist__link" href="/faq">FAQ</a>
            </li>
            <li>
              <a class="c-nav-sublist__link" href="/accessibility">Accessibility</a>
            </li>
            <li>
              <a class="c-nav-sublist__link" href="{{ contents['scholarships.json'].url }}">Scholarships</a>
            </li>
            <li>
              <a class="c-nav-sublist__link" href="{{ contents['newsletter.json'].url }}">Newsletter</a>
            </li>
          </ul>
          <p class="joke copy--mini">
            <a class="c-nav-sublist__link" href="mailto:{{ email }}">
              CSS is awesome. {{ email }}
            </a>
          </p>
        </div>

      </div>
    </nav>
  </div>
</header>
