{% set newsList = contents.news._.pages | filterObjects('metadata.article.published', true) | filterObjects('metadata.article.reviewed', true) | sortObjects('metadata.date', '2017-01-01', 'date') | reverse %}

{% from "../partials/content-grid.html.njk" import contentGrid %}

{% if newsList | length > 0 %}
  <section class="c-content">
    <div class="l-container">
      <h2 class="fz--beta mb5 mb6-l">
        News
      </h2>
    </div>

    <div class="l-container l-container--xxxl">
      {{ contentGrid(newsList, moment) }}
    </div>
  </section>
{% endif %}
