{% set speakers = contents.speakers._.pages
  | filterObjects('metadata.speaker.reviewed', true)
  | filterObjects('metadata.speaker.published', true) %}
{% set data = contents.copy.speakers['intro.md'] %}

{% if speakers.length %}
  <section class="c-content">
    <div class="l-container">
      <h2 class="fz--beta mb4">{{ data.metadata.title }}</h2>
      <p class="copy mb5">{{ data.metadata.introText }}</p>
      {% include "../partials/speakers-gallery.html.njk" %}
    </div>
  </section>
{% endif %}
