{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import pageIntro %}

{% block content %}
  {% set data = contents.copy.artists['intro.md'] %}

  {{ pageIntro(data.metadata.title) }}

  <div class="l-container">
    <main>
      {% set artists = contents.artists._.pages
        | filterObjects('metadata.artist.reviewed', true)
        | filterObjects('metadata.artist.published', true) %}

      {% if artists.length %}
        <div class="c-artists-gallery">
          {% for artist in artists %}
            {% set artistData = artist.metadata.artist %}
            {% set artistName = artistData.firstname + ' ' + artistData.lastname %}
            <div class="c-artists-gallery__item">
              <a class="c-artists-gallery__artist" href="https://twitter.com/{{ artistData.twitterHandle }}">
                <div class="c-artists-gallery__image">
                  <img
                    src="{{ contents.images.cms[artistData.image.filename_500].url }}"
                    alt="{{ artistData.firstname }} {{ artistData.lastname }}"
                  />
                </div>
                <div class="c-artists-gallery__name fz--gamma">
                  {{ artistData.firstname }}<br />
                  {{ artistData.lastname }}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </main>
  </div>
{% endblock %}

{% block footer %}
  {% include "../partials/footer.html.njk" %}
{% endblock %}
