{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import callForSpeakersButton %}

{% block main %}
  {% set data = contents.copy.cfs['intro.md'] %}

  <header class="c-page-header">
    <div class="l-container">
      <h1>{{ data.metadata.title }}</h1>
      <p class="copy--max">{{ data.metadata.introText }}</p>
      {{ callForSpeakersButton(callForSpeakersLink, text = "Apply Now") }}
      <figure class="c-page-header__image">
        <img src="{{ contents.images.intros['call-for-speakers-mobile.png'].url }}"
             srcset="{{ contents.images.intros['call-for-speakers.png'].url }} 768w"
             alt="Call For Speakers">
      </figure>
    </div>
  </header>

  <section class="c-content c-content--salmon c-content--page-header">
    <div class="l-container">
      <div class="c-markdown c-markdown--indented-paragraphs">
        {{ contents.copy.cfs['topics.md'].html }}
      </div>
    </div>
  </section>

  <section class="c-content">
    <div class="l-container">
      <div class="c-markdown c-markdown--indented-paragraphs">
        {{ contents.copy.cfs['we-can-help.md'].html }}
      </div>
    </div>
  </section>

  <section class="c-content c-content--salmon">
    <div class="l-container l-container--background">
      <div class="c-markdown c-markdown--indented-paragraphs">
        {{ contents.copy.cfs['perks.md'].html }}
      </div>
    </div>
  </section>

  <section class="c-content">
    <div class="l-container">
      <div class="c-markdown c-markdown--indented-paragraphs">
        {{ contents.copy.cfs['selection-process.md'].html }}
      </div>
    </div>
  </section>

  <section class="c-content c-content--salmon">
    <div class="l-container">
      <div class="c-markdown c-markdown--indented-paragraphs">
        {{ contents.copy.cfs['guidelines.md'].html }}
      </div>
    </div>
  </section>

  <section class="c-content">
    <div class="l-container">
      <div class="c-markdown c-markdown--indented-paragraphs">
        {{ contents.copy.cfs['video-recordings.md'].html }}
      </div>
    </div>
  </section>

  <section class="c-content c-content--salmon">
    <div class="l-container">
      <div class="c-markdown c-markdown--indented-paragraphs">
        {{ contents.copy.cfs['coc.md'].html }}
      </div>
    </div>
  </section>
{% endblock %}
