{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import svgIconNew, callForSpeakersButton, callForArtistsButton %}

{% block content %}
  <section class="c-content c-content--intro">
    <div class="l-container">
      {{ svgIconNew(contents, 'intro', width = 1205, height = 458, title = 'CSSconf.EU - Berlin - May 31, 2019') }}
      <p>
        Dedicated to everyone who loves and writes CSS: CSSconf EU is a one-day, one-track community conference that
        unites world-class speakers, top-notch engineers & web designers, and many more with an affinity for CSS in
        Berlin, Germany.
      </p>
      <a href="{{ buyTicketsLink }}"
         class="c-btn">
        🚀 Buy Ticket
      </a>
    </div>
  </section>
  <section class="c-content c-content--salmon">
    <div class="l-container">
      <h2 class="fz--beta">
        Call for Speakers is open!
      </h2>
      <p class="copy">
        We are inviting the CSS community to submit talks for the upcoming CSSconf EU.<br>
        The Call for Speakers will close on <b class="tc-orange">December 23rd 2018</b>.
      </p>
      {{ callForSpeakersButton(
        contents['call-for-speakers.json'].url,
        truncateOnMobile = true,
        openNewTab = false,
        centered = false
      ) }}
    </div>
  </section>
  <section class="c-content">
    <div class="l-container">
      <h2 class="fz--beta">
        Call for Artists is open!
      </h2>
      <p class="copy">
        We are inviting the creative web technology community to submit artistic project ideas.<br>
        If you draw and animate with CSS, make music in the browser, play with typography, or do anything else really: please submit a proposal.
      </p>
      {{ callForArtistsButton(
        'https://docs.google.com/forms/d/e/1FAIpQLSd3vGFs8_0_pcMAYEUq8uP3-reyzPMVJwBXSpkjbct9svrBkg/viewform',
        truncateOnMobile = true,
        openNewTab = false,
        centered = false
      ) }}
    </div>
  </section>
  <section class="c-content c-content--salmon">
    <div class="l-container">
      <h2 class="fz--beta">
        Become a Sponsor!
      </h2>
      <p class="copy">
        We are currently offering sponsorship packages for CSSconf EU and JSConf EU 2019 – the big 10th anniversary Festival edition.
        Contact us to learn more about our available packages, or talk with us about your unique idea and custom offers.
        <br>
        <a href="mailto:contact@cssconf.eu">contact@cssconf.eu</a>
      </p>
    </div>
  </section>
{% endblock %}
