{% extends "../layouts/default.html.njk" %}

{% block content %}
  {% set data = contents.copy.schedule['main.md'] %}

  <section class="c-intro c-intro--schedule">
    <div class="l-container">
      <h1 class="c-intro__title">{{ data.metadata.title }}</h1>
      {% if data.metadata.introText %}
        <p class="c-intro__text copy--max">{{ data.metadata.introText }}</p>
      {% endif %}
    </div>
  </section>

  <div class="l-container l-container--schedule">
    {% set schedulePages = contents.schedule._.pages |
      filterObjects('metadata.schedule.published', true) |
      filterObjects('metadata.schedule.excluded', false) |
      sortObjects('metadata.schedule.order', 100, 'number') %}

    {% if schedulePages %}
      <ol class="c-schedule">
        {% for schedulePage in schedulePages %}
          <li class="c-schedule__item">
            {% set data = schedulePage.metadata.schedule %}
            {% set bipocitSpace = data.bipocitSpace %}
            {% set communityLounge = data.communityLounge %}
            {% set speakers = [] if not data.isTalk else contents.speakers._.pages |
              filterObjects('metadata.speaker.talkTitle', data.title) %}
            {% set speaker = null if not data.isTalk else speakers | first %}

            <div class="c-schedule-item">
              <time class="c-schedule-item__time">{{ data.time }}</time>
              <div class="c-schedule-item__details">
                {% if data.isTalk %}
                  <h2 class="mb0 c-schedule-item__title copy">
                    {{ speakers | joinObjects(' & ', 'metadata.speaker.name')}}
                  </h2>
                  <a class="c-schedule-item__talk-title" href="{{ speaker.url }}#talk" target="_blank">
                    {{ data.title }}
                  </a>
                {% else %}
                  <h2 class="mb0 c-schedule-item__title copy">{{ data.title }}</h2>
                {% endif %}

                {% if bipocitSpace or communityLounge %}
                  <div class="c-schedule-item-events">
                    {% if communityLounge %}
                      <div class="c-schedule-item-events__event">
                        <h3 class="mb2 normal c-schedule-item-events__area c-schedule-item-events__area--community-lounge">
                          Community Lounge
                        </h3>
                        <a href="{{ data.communityLoungeLink }}" class="b c-schedule-item-events__name">
                          {{ communityLounge }}
                        </a>
                      </div>
                    {% endif %}
                    {% if bipocitSpace %}
                      <div class="c-schedule-item-events__event">
                        <h3 class="mb2 normal c-schedule-item-events__area">BIPoCiT Space</h3>
                        <a href="{{ data.bipocitSpaceLink }}" class="b c-schedule-item-events__name">
                          {{ bipocitSpace }}
                        </a>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}

                {% if data.misc %}
                  <div class="c-schedule-item__misc copy--mini">
                    {{ data.misc | nl2br }}
                  </div>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ol>
    {% endif %}
  </div>
{% endblock %}
