{% extends "../layouts/default.html.njk" %}

{% from "../_macros.njk" import pageIntro %}

{% block content %}
  {{
    pageIntro(
      page.metadata.title,
      page.metadata.introText,
      contents.images.cms[page.metadata.article.image.filename_500]
    )
  }}

  <div class="l-container">
    <main>
      <div class="c-markdown c-markdown--indented-paragraphs">
        {{ page.html | contentUrls(contents) }}
      </div>
    </main>
  </div>
{% endblock %}
