body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.is-nav-opened {
  overflow: hidden;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.l-wrapper {
  flex-grow: 1;
}

a {
  color: var(--c-blue);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--c-violet);
  }
}


a, button, input {
    transition-property: color, background-color, border-color, transform;
    transition-duration: .05s;
    transition-timing-function: ease-in;

    &::after, &::before {
      transition-property: color, background-color, border-color, transform;
      transition-duration: .05s;
      transition-timing-function: ease-in;

  }
}

.c-speakers-gallery__speaker-image,
.c-schedule-item__img {
  transition-property: color, background-color, border-color, transform;
  transition-duration: .05s;
  transition-timing-function: ease-in;
}

.responsive-image-wrapper {
  display: block;
  overflow: hidden;
  position: relative;
}

.responsive-image-wrapper img,
.responsive-image-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
