.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--l-width-content);
  min-width: 17.25rem;
  padding-left: var(--l-gutter);
  padding-right: var(--l-gutter);

  &--l {
    max-width: 64rem;
  }

  &--xl {
    max-width: 80rem;
  }

  &--xxxl {
    max-width: 100rem;
  }

  &--xxxl {
    max-width: 112rem;
  }

  &--schedule {
    padding-left: 0;
    padding-right: 0;

    @media (--m) {
      padding-left: var(--l-gutter);
      padding-right: var(--l-gutter);
    }
  }

  &--background {
    @media (--m) {
      background-image: url('contents:svg/logo-shape.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
