body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.is-nav-opened {
  overflow: hidden;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.l-wrapper {
  flex-grow: 1;
  overflow-x: hidden;
}

a {
  color: var(--c-blue);
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--c-violet);
  }
}

.responsive-image-wrapper {
  display: block;
  overflow: hidden;
  position: relative;
}

.responsive-image-wrapper img, .responsive-image-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
