.c-speakers-gallery {
  --speakers-gallery-border: 4px;
  --speaker-spacing: 1.8rem;
  border: var(--speakers-gallery-border) solid var(--c-black);
  font-weight: bold;

  @media (--m) {
    --speakers-gallery-border: 9px;
  }

  &__speaker {
    --speaker-horizontal-spacing-multiplier: 3;
    display: flex;
    margin-top: var(--speakers-gallery-border);
    margin-left: calc(var(--speakers-gallery-border) * -1);
    margin-right: calc(var(--speakers-gallery-border) * -1);
    padding: var(--speaker-spacing)
      calc(
        var(--speakers-gallery-border) *
          var(--speaker-horizontal-spacing-multiplier)
      )
      0;
    position: relative;
    font-size: 1.75rem;
    line-height: 1.65rem;

    @media (--m) {
      font-size: 5.5rem;
      line-height: 4.6rem;
      padding-top: calc(var(--speaker-spacing) * 2);
    }

    @media (--l) {
      --speaker-horizontal-spacing-multiplier: 6;
    }

    &::after {
      background-color: var(--c-black);
      bottom: 0;
      content: '';
      height: var(--speakers-gallery-border);
      left: 0;
      right: 0;
      position: absolute;
      width: 100%;
    }

    /* &:hover {
      &::after {
        background-color: var(--c-violet);
      }
    } */
  }

  &__progress {
    position: relative;
    z-index: -1;

    &-label {
      font-size: 0.875rem;
      line-height: 1;
      padding: calc(var(--speakers-gallery-border) * 4)
        calc(var(--speakers-gallery-border) * 3)
        calc(var(--speakers-gallery-border) * 3);
      position: relative;
      z-index: 1;

      @media (--m) {
        font-size: 2rem;
      }

      strong {
        font-size: 2rem;

        @media (--m) {
          font-size: 5.5rem;
        }
      }
    }

    &-value {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: var(--c-white);
      box-shadow: none;
      border-radius: 0;
      border: none;

      &::before {
        display: none;
      }

      &::-ms-fill {
        animation-name: none;
      }

      &::-webkit-progress-bar,
      &::after {
        width: 100%;
        height: 100%;
        background-color: var(--c-white);
        box-shadow: none;
        border-radius: 0;
        border: none;
        content: '';
        position: absolute;
        top: 0px;
        background-color: transparent;
        box-shadow: none;
      }

      &::-webkit-progress-bar {
        width: 100%;
        height: 100%;
        background-color: var(--c-white);
        box-shadow: none;
        border-radius: 0;
        border: none;
        background-image: none;
      }

      &::-moz-progress-bar {
        width: 100%;
        height: 100%;
        background-color: var(--c-white);
        box-shadow: none;
        border-radius: 0;
        border: none;
      }

      &[value] {
        background-image: none;

        &:before {
          content: attr(value) ' / ' attr(max);
        }

        color: var(--c-green);

        &::-webkit-progress-value {
          background-color: var(--c-green);
        }
        &::-moz-progress-bar {
          background-color: var(--c-green);
        }

        &::-ms-fill {
          border: none;
        }

        &::-webkit-progress-bar,
        &::after {
          background-image: none;
        }

        &::-moz-progress-bar {
          background-image: none;
        }
      }
    }
  }
}
