.c-speaker-links {
  margin-top: 1.5rem;

  @media (--s) {
    font-size: 2.125rem;
  }

  @media (--l) {
    margin-top: 3.625rem;
  }

  .svg {
    display: inline-block;
    height: 1.2em;
    margin-right: 0.8rem;
    vertical-align: middle;
  }
}
