.c-sponsors {
  padding-bottom: calc(var(--l-gutter) * 2);

  &__title {
    font-size: 2rem;
    margin-top: calc(var(--l-gutter) * 2);
    text-align: center;

    @media (--s) {
      font-size: 2.75rem; /* 44 */
      line-height: 1.090909091; /* 48 */
    }
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__logo {
    align-items: center;
    background-color: var(--c-white);
    display: flex;
    justify-content: center;
    margin: calc(var(--l-gutter) / 2);
    padding: calc(var(--l-gutter) / 2);

    @media (--m) {
      margin: var(--l-gutter);
      padding: var(--l-gutter);
    }

    &--organizing,
    &--festival,
    &--main {
      flex-basis: calc(50% - var(--l-gutter));

      @media (--m) {
        flex-basis: calc((100% / 2) - calc(var(--l-gutter) * 2));
      }

      @media (--l) {
        flex-basis: calc((100% / 3) - calc(var(--l-gutter) * 2));
      }
    }

    &--supporting,
    &--community,
    &--travel {
      flex-basis: calc((100% / 2) - calc(var(--l-gutter) * 2));

      @media (--m) {
        flex-basis: calc((100% / 3) - calc(var(--l-gutter) * 2));
      }

      @media (--l) {
        flex-basis: calc((100% / 4) - calc(var(--l-gutter) * 2));
      }
    }
  }

  &__image {
    display: block;
  }

  &--footer {
    background-color: var(--c-salmon-light);
    margin-bottom: 0;
    overflow: hidden;
    padding-top: var(--l-gutter);
  }
}
