.c-btn {
  border-radius: 1.125rem;
  border: 3px solid var(--c-black);
  color: var(--c-blue);
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.75;
  padding: .5rem 1rem;
  &:hover,
  &:focus {
  }
  @media(--s) {
    font-size: 1.5rem;
  }
  @media(--m) {
    font-size: 2rem;
  }
}

.c-btn--header {
  display: none;
  font-size: 1rem;
  line-height: 2;
  @media(--xs) {
    display: inline-block;
  }
  @media(--m) {
    font-size: 1.5rem;
  }
}

.c-btn__truncated-text {
  display: none;
  @media(--s) {
    display: inline-block;
  }
}

.btn-block {
  padding: 2rem 0;
  text-align: center;
}
