.c-schedule-item {
  display: flex;
  flex-direction: column;

  @media (--s) {
    flex-direction: row;
  }

  &__time {
    padding-bottom: var(--schedule-item-spacing);
    padding-top: var(--schedule-item-spacing);
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;

    @media (--s) {
      width: 7.5rem;
      padding-left: 0.5rem;
    }

    @media (--xl) {
      font-size: 4rem;
      width: 15.625rem;
    }
  }

  &__details {
    padding-left: calc(var(--l-gutter) / 2);
    width: 100%;
    padding-bottom: var(--schedule-item-spacing);
    padding-top: var(--schedule-item-spacing);
    &--no-padding {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  &__link {
    padding-bottom: var(--schedule-item-spacing);
    padding-top: var(--schedule-item-spacing);
    color: var(--c-black);
    display: block;
    &:hover, &:focus {
      color: var(--c-blue);
      .c-schedule-item__img {
        transform: translateY(-1.5rem) translateX(.75rem) scale(1.75);
        z-index: 3;
      }
    }
  }

  &__img {
    max-width: 2.75rem;
    margin-left: 1rem;
  }

  &__title {
    font-size: 1.3125rem; /* 21 */
    line-height: 1.428751; /* 30 */

    @media (--s) {
      font-size: 1.5rem; /* 24 */
      line-height: 1.5; /* 36 */
    }

    @media (--m) {
      font-size: 1.75rem; /* 28 */
    }

    @media (--xl) {
      font-size: 2.625rem; /* 42 */
    }
  }

  &__talk-title {
    display: block;
    font-size: 1.125rem;
    line-height: 1.33;

    @media (--s) {
      font-size: 1.5rem;
    }

    @media (--l) {
      font-size: 1.875rem; /* 30 */
      line-height: 1.466666667; /* 44 */
    }

    @media (--xxxl) {
      max-width: 80%;
    }
  }

  &__misc {
    color: var(--c-darkgray);
    b {
      color: var(--c-violet);
      display: inline-block;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }
  }
}
