.c-nav-main {
  position: absolute;
  height: calc(100vh - 72px);
  top: 106px;
  background-color: var(--c-white);
  display: none;
  width: 100%;
  z-index: 1;
  left: 0;
  text-align: center;
  @media(--m) {
    top: 124px;
    height: calc(100vh - 124px);
  }
}

.is-nav-opened .c-nav-main {
  display: block;
}

.c-nav-main__content {
  height: calc(100% - 2rem);
  overflow-x: scroll;
  padding: 1rem;
  @media(--m) {
    height: auto;
    overflow: auto;
  }
}

.c-nav-main__list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.c-nav-main__list-el {
  margin-bottom: .5rem;

  @media(--m) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.c-nav-main__link {
  color: var(--c-cinnabar);
}

.c-nav-main__list-el,
.c-nav-main__close {
  line-height: 1.619047619;
  font-size: 2rem;
}

.c-nav-main__close {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
