.c-nav-main {
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  background-color: var(--c-blue);
  display: none;
  width: 100%;
  z-index: 10;
  left: 0;
  text-align: left;
}

.is-nav-opened .c-nav-main {
  display: flex;
}

.c-nav-main__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  border: 3px solid var(--c-white);
  @media(--m) {
    margin: 3.5rem;
  }
}

.c-nav-main__list {
  list-style: none;
  margin-bottom: 0;
  padding: .75rem 0;
  display: flex;
  flex-direction: column;
  @media(--m) {
    padding: 4rem 0 0 5rem;
  }
}

.c-nav-main__list-el {
  margin-bottom: 0;
  display: block;
}

.c-nav-main__link {
  display: block;
  color: var(--c-white);
  padding: .5rem 2rem;
  font-size: 1.75rem;
  line-height: 1.6666;
  @media(--m) {
    font-size: 2rem;
  }
  @media(--l) {
    font-size: 2.5rem;
  }
  &:hover,
  &:focus {
    color: var(--c-orange);
  }
}

.c-nav-main__close {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.c-nav-sublist {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  text-align: right;
}

.c-nav-sublist__link {
  color: var(--c-white);
  display: block;
  padding: .25rem 2rem;
  &:hover,
  &:focus {
    color: var(--c-orange);
  }
}

.joke {
  color: var(--c-white);
  display: block;
  padding: .25rem 2rem;
  text-align: right;
  margin-right: -5.5rem;
}
