.c-btn {
  border-radius: 1.125rem;
  border: 3px solid var(--c-black);
  color: var(--c-blue);
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.75;
  padding: .5rem 1rem;
  &:hover,
  &:focus {
  }
}

.c-btn--header {
  display: none;
  font-size: 1.5rem;
  line-height: 2;
  @media(--s) {
    display: inline-block;
  }
}

.c-btn__truncated-text {
  display: none;
  @media(--s) {
    display: inline-block;
  }
}
