.c-news {
  @media (--m) {
    --news-grid-count: 2;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(var(--news-grid-count), 1fr);
  }
  @media (--l) {
    --news-grid-count: 3 !important;
  }
}

.c-news__item {
}

.c-news__title {
}
