:root {
  --c-black: #111111;
  --c-white: #ffffff;
  --c-gray: #f8f8f8;
  --c-darkgray: #777777;
  --c-blue: #2176ff;
  --c-pink: #f29fc4;
  --c-salmon: #fcd9e3;
  --c-salmon-light: #ffedf2;
  --c-orange: #ff5743;
  --c-violet: #9a87e6;
  --c-mint: #65cde5;
  --c-green: #2fb646;
  --c-yellow: #ffce00;
}
