@font-face {
  font-family: "GT Walsheim Pro Regular";
  font-display: swap;
  src: url('contents:fonts/GT-Walsheim-Regular.eot');
  src: url('contents:fonts/GT-Walsheim-Regular.eot') format('embedded-opentype'),
       url('contents:fonts/GT-Walsheim-Regular.woff') format('woff'),
       url('contents:fonts/GT-Walsheim-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "GT Walsheim Pro Medium";
  font-display: swap;
  src: url('contents:fonts/GT-Walsheim-Medium.eot');
  src: url('contents:fonts/GT-Walsheim-Medium.eot') format('embedded-opentype'),
       url('contents:fonts/GT-Walsheim-Medium.woff') format('woff'),
       url('contents:fonts/GT-Walsheim-Medium.ttf') format('truetype');
}

:root {
  --ff-sans-serif-regular: "GT Walsheim Pro Regular", sans-serif;
  --ff-sans-serif-medium: "GT Walsheim Pro Medium", sans-serif;
}
