@custom-media --xs (width >= 30rem); /* 480px */
@custom-media --s (width >= 40rem); /* 640px */
@custom-media --m (width >= 48rem); /* 768px */
@custom-media --l (width >= 64rem); /* 1024px */

:root {
  --breakpoint-xs: 30rem;
  --breakpoint-s: 40rem;
  --breakpoint-m: 48rem;
  --breakpoint-l: 64rem;
}


/*  just debugging mediaqueries here */
/*  DO NOT DELETE THIS: Declaring all available breakpoints here fixes an issue where postcss outputs the mediaqueries in the wrong order. */
body {
  &::before {
    display: block;
    display: none; /* un-comment this line to test media queries in DEV mode */
    color: white;
    background: black;
    position: fixed;
    width: 200px;
    text-align: center;
    content: 'breakpoint: none';
    opacity: .8;
    font-size: .875rem;
    font-family: monospace;
    padding: .25rem;
    z-index: 10;
  }
  @media(--xs) {
    /* background: orange; */
    &::before {
      content: 'breakpoint --xs (30rem)';
    }
  }

  @media(--s) {
    /* background: red; */
    &::before {
      content: 'breakpoint --s (40rem)';
    }
  }

  @media(--m) {
    /* background: green; */
    &::before {
      content: 'breakpoint --m (48rem)';
    }
  }

  @media(--l) {
    /* background: blue; */
    &::before {
      content: 'breakpoint --l (64rem)';
    }
  }
}
